*{
    margin: 0;
    padding: 0;

}
li{
    list-style: none;

}
a{
    text-decoration:none;
}

.title-center-h1{
    text-align: center;
    font-size: 28px;
}
.red{
    color: red;
}